1 24 "demo.Manifest"
#define MENU_2 2
#define CM_POPUPITEM 101
0DEMO ICON "demo.ico"
BLUE  ICON   "BLUE.ICO"
GRAY  ICON   "GRAY.ICO"
RED   ICON   "RED.ICO"
CDR   ICON   "CD.ICO"
DIAL  ICON   "DIALOG.ICO"
EXPL  ICON   "EXPLORER.ICO"
USERS ICON   "USERS.ICO"
COMP  ICON   "COMPUTER.ICO"

BRICK BITMAP "BRICKS.BMP"
COMP  BITMAP "COMPUTER.BMP"
WHAT  BITMAP "WHAT32.BMP"
WHAT1 BITMAP "WHAT.BMP"
NOTES BITMAP "NOTES.BMP"
BLOCK BITMAP "BLOCK3D.BMP"
WATER BITMAP "WATER.BMP"
FACES BITMAP "FACES.BMP"

TESTDLG DIALOG 63, 59, 393, 228
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Resource Dialog"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", 1, 115, 211, 50, 14
 PUSHBUTTON "Cancel", 2, 175, 211, 50, 14
 PUSHBUTTON "Help", 9, 235, 211, 50, 14
 CTEXT "Using DrawGlyph", 501, 245, 120, 136, 21
}






NO BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 77 77 77 77 77 77 77 77 77 77'
 '77 77 77 77 77 77 77 00 00 00 00 00 00 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 00'
 '00 00 00 00 00 77 77 77 77 77 77 77 77 77 77 77'
 '77 77 77 77 77 77'
}


YES BITMAP 
{
 '42 4D F6 00 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 10 00 00 00 10 00 00 00 01 00 04 00 00 00'
 '00 00 80 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 10 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 C0 C0 C0 00 80 80 80 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 77 77 77 77 77 77 77 77 77 77'
 '77 77 77 77 77 77 77 00 00 00 00 00 00 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF F0 0F FF F0 77 77 0F'
 'FF 00 0F FF F0 77 77 0F F0 0F 00 FF F0 77 77 0F'
 'F0 FF 00 0F F0 77 77 0F 0F FF F0 0F F0 77 77 0F'
 'FF FF FF 00 F0 77 77 0F FF FF FF F0 F0 77 77 0F'
 'FF FF FF FF F0 77 77 0F FF FF FF FF F0 77 77 00'
 '00 00 00 00 00 77 77 77 77 77 77 77 77 77 77 77'
 '77 77 77 77 77 77'
}


SAMPLE DIALOG 121, 105, 106, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Test"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Cancel", 2, 50, 120, 50, 14
 LISTBOX 101, 7, 8, 93, 104, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | WS_BORDER | WS_VSCROLL
}

TAB1 DIALOG 29, 47, 214, 155
STYLE 0x0404 |WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 CTEXT "Right Click inside WListView", 100, 6, 132, 199, 18
}

TAB2 DIALOG 29, 47, 214, 159
STYLE 0x0404 | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Load a DataBase !", 11, 5, 141, 77, 14
 PUSHBUTTON "Grid ON", 12, 85, 141, 48, 14
}

TAB3 DIALOG 29, 47, 214, 159
STYLE 0x0404 |WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
 EDITTEXT 101, 93, 76, 97, 12
 EDITTEXT 102, 93, 92, 51, 12, ES_CENTER | WS_BORDER | WS_TABSTOP
 EDITTEXT 103, 93, 108, 78, 12
 EDITTEXT 104, 93, 124, 69, 12, ES_RIGHT | WS_BORDER | WS_TABSTOP
 EDITTEXT 105, 93, 140, 114, 12
 CTEXT "Pictured and Colored Gets on What32 ?", 100, 5, 4, 206, 31
 RTEXT "Multi Picture", 200, 26, 78, 65, 8
 RTEXT "Date", -1, 25, 94, 65, 8
 RTEXT "Area Code - Phone number", -1, 2, 110, 89, 8
 RTEXT "Amount", -1, 53, 126, 38, 8
 RTEXT "Comments", -1, 35, 142, 56, 8
}

QUESTION DIALOG 78, 52, 194, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "What32 do you think ?"
FONT 8, "MS Sans Serif"
{
 CONTROL "NO", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 76, 50, 14
 CONTROL "If you don't like What32.Lib ", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 5, 184, 8
 CONTROL "click ""No"" button twice", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 14, 184, 8
 CONTROL "otherwise click on ""Close box"" to exit", -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 5, 23, 184, 8
}

TAB4 DIALOG 29, 47, 214, 155
STYLE 0x0404 | WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
{
}

TAB5 DIALOG 29, 47, 214, 159
STYLE 0x0404 | WS_CHILD | WS_VISIBLE | WS_TABSTOP
FONT 8, "MS Sans Serif"
{
}
PIE DIALOG 63, 59, 393, 228
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Pie"
FONT 8, "MS Sans Serif"
{
}
BROWSER DIALOG 9, 26, 506, 269
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Browser"
FONT 8, "MS Sans Serif"
{
 LISTBOX 101, 4, 2, 275, 245, WS_BORDER | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_BORDER
 PUSHBUTTON "Show some images", 200, 13, 252, 71, 14
// CONTROL "", -1, "static", SS_SUNKEN | WS_CHILD | WS_VISIBLE, 281, 3, 218, 80
 EDITTEXT 102, 330, 19, 162, 14
 EDITTEXT 103, 330, 35, 162, 14
 EDITTEXT 104, 330, 51, 162, 14
 RTEXT "First Name", -1, 287, 22, 40, 8
 RTEXT "Last Name", -1, 287, 39, 40, 8
 RTEXT "First Name", -1, 287, 54, 40, 8
}

BARS DIALOG 63, 59, 393, 228
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Bars"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", 1, 140, 211, 50, 14
 DEFPUSHBUTTON "Lines ON", 101, 195, 211, 57, 14
}

QBROW DIALOG 9, 26, 506, 269
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Browser"
FONT 8, "MS Sans Serif"
{
 LISTBOX 101, 295, 121, 207, 125, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_TABSTOP
 LISTBOX 100, 4, 2, 286, 244, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_BORDER | WS_TABSTOP
}
DIARY DIALOG 18, 24, 451, 227
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "whBrowse"
FONT 8, "MS Sans Serif"
{
 LISTBOX 100, 6, 6, 237, 200, LBS_NOTIFY | WS_BORDER | LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_BORDER
}

SETTYPE DIALOG 74, 89, 364, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Graph type"
FONT 8, "MS Sans Serif"
{
 GROUPBOX "Type", 115, 4, 5, 42, 137, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
 CONTROL "&Line", 101, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 37, 32, 12
 CONTROL "&Bar", 102, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 49, 32, 12
 CONTROL "&Area", 103, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 61, 32, 12
 CONTROL "&Pie", 104, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 11, 73, 32, 12
 CONTROL "&3D", 105, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 100, 22, 12
 GROUPBOX "Autoscale", 116, 50, 5, 173, 38, BS_GROUPBOX | WS_CHILD | WS_VISIBLE
 LTEXT "Prefered no. of Y-axis steps", -1, 56, 17, 88, 8
 EDITTEXT 106, 147, 16, 26, 13, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 CONTROL "Optimize (stretch) &Scale", 107, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 56, 28, 86, 12
 GROUPBOX "Trend Options", 117, 231, 4, 128, 54, BS_GROUPBOX
 CONTROL "Show &Trend (best fit line)", 108, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 16, 94, 12
 CONTROL "Add Re&ference Line at", 109, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 238, 71, 82, 12
 EDITTEXT 110, 322, 71, 32, 12, ES_RIGHT | ES_MULTILINE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "S&tacked", 111, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 236, 127, 40, 12
 CONTROL "Parall&el", 112, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 276, 127, 36, 12
 CONTROL "&Cluster", 113, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 319, 127, 34, 12
 GROUPBOX "More Programming Options", 114, 49, 45, 174, 97, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
 CONTROL "Show &X-axis Labels ", 118, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 59, 74, 12
 CONTROL "Show &Y-axis Labels", 119, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 72, 74, 12
 CONTROL "Show Le&gends", 120, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 85, 74, 12
 CONTROL "Show Da&ta", 126, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 98, 56, 12
 CONTROL "Show &Wire Frame", 121, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 59, 82, 12
 CONTROL "Show X &Grid", 122, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 72, 82, 12
 CONTROL "Show Y G&rid", 123, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 85, 82, 12
 CONTROL "Show T&op 3", 127, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 98, 76, 12
 CONTROL "View 3D in &Reverse Angle", 124, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 113, 118, 12
 CONTROL "Draw &Outline of Graph Objects", 125, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 126, 118, 12
 DEFPUSHBUTTON "Graph", 1, 127, 149, 50, 14
 PUSHBUTTON "Close", 2, 187, 149, 50, 14
 LTEXT "Trend Thickness", -1, 282, 30, 56, 8
 EDITTEXT 128, 338, 27, 14, 12, ES_RIGHT | ES_MULTILINE | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "Trend Color", -1, 298, 45, 38, 8
 PUSHBUTTON "Colors", 129, 262, 42, 31, 13
 GROUPBOX "Reference Options", 130, 230, 60, 128, 55, BS_GROUPBOX
 EDITTEXT 131, 338, 42, 14, 12, NOT WS_TABSTOP | WS_BORDER
 LTEXT "Reference Thickness", -1, 269, 88, 68, 8
 EDITTEXT 132, 340, 85, 14, 12, ES_RIGHT | ES_MULTILINE | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "Reference Color", -1, 285, 102, 53, 8
 PUSHBUTTON "Colors", 133, 250, 99, 31, 13
 EDITTEXT 134, 340, 99, 14, 12, NOT WS_TABSTOP | WS_BORDER
 GROUPBOX "Style", 135, 230, 116, 128, 27, BS_GROUPBOX
}

GRAPHS DIALOG 45, 38, 411, 249
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Graphs"
FONT 8, "MS Sans Serif"
{
 PUSHBUTTON "Exit", IDCANCEL, 296, 234, 50, 14
 PUSHBUTTON "Set Type", 101, 350, 234, 57, 14
}

finger CURSOR PRELOAD MOVEABLE DISCARDABLE 
{
 '00 00 02 00 01 00 20 20 00 00 05 00 00 00 30 01'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 01 00 00 00 00 00 80 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 FF FF FF 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 03 FC 00 00 03 FC 00 00 07 FE 00 00 07 FE'
 '00 00 0F FE 00 00 0F FF 00 00 1F FF 00 00 17 FF'
 '00 00 37 FF 00 00 77 FF 00 00 67 FB 00 00 06 DB'
 '00 00 06 DA 00 00 06 D8 00 00 06 C0 00 00 06 00'
 '00 00 06 00 00 00 06 00 00 00 06 00 00 00 06 00'
 '00 00 00 00 00 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF F8 01'
 'FF FF F8 01 FF FF F8 01 FF FF F0 00 FF FF F0 00'
 'FF FF E0 00 FF FF E0 00 7F FF C0 00 7F FF C0 00'
 '7F FF 80 00 7F FF 00 00 7F FF 00 00 7F FF 10 00'
 '7F FF F0 00 FF FF F0 01 FF FF F0 07 FF FF F0 3F'
 'FF FF F0 FF FF FF F0 FF FF FF F0 FF FF FF F0 FF'
 'FF FF F9 FF FF FF'
}


demo MENU 
{
 POPUP "&Dialogs"
 {
  MENUITEM "&Resource Dialog - Tabs, WListView and Gets", 101
  MENUITEM SEPARATOR
  MENUITEM "&Auto Form Demo", 102
  MENUITEM SEPARATOR
  MENUITEM "&Diary", 103
  MENUITEM SEPARATOR
  MENUITEM "&Browse and Get", 105
  MENUITEM SEPARATOR
  MENUITEM "&Quick Browse", 106
  MENUITEM SEPARATOR
  MENUITEM "E&xit", 100
 }
 POPUP "&Utilities"
 {
  MENUITEM "MessageBoxEx with &TIME-OUT", 201
  MENUITEM "MessageBoxEx with &Flashing Caption", 207
  MENUITEM "MessageBoxEx with Resource &Icon", 208
  MENUITEM "MessageBoxEx with Check &Box", 209
  MENUITEM "MessageBoxEx with &User Buttons", 210
  MENUITEM "&MessageBoxEx SHOWTIME", 211
  MENUITEM SEPARATOR
  MENUITEM "&Alert", 202
  MENUITEM SEPARATOR
  MENUITEM "&Send e-mail", 203
  MENUITEM "&Harbour home page", 204
  MENUITEM SEPARATOR
  MENUITEM "&TextView - Unlimited text size - demo source", 205
  MENUITEM SEPARATOR
  MENUITEM "&Questionaire", 206
  MENUITEM "&Calculator", 307
 }
 POPUP "&Graphics !"
 {
  MENUITEM "Graphics - &Pie", 301
  MENUITEM "Graphics - &Bars", 302
  MENUITEM "Graphics - &More Bars", 303
  MENUITEM "Graphics - &Even More Bars", 304
  MENUITEM "Graphics - &Areas", 305
  MENUITEM SEPARATOR
  MENUITEM "Graphs !!!", 306
 }
 POPUP "&Graphics !"
 {
  MENUITEM "&About...", 601
 }
}
