1 24 "WinPrint.exe.manifest"
#include "Winver.h"

1 VERSIONINFO
FILEVERSION       1,0,0,0
PRODUCTVERSION    1,0,0,0
FILEFLAGS         0
FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
FILEOS            VOS__WINDOWS32
FILETYPE          VFT_APP
FILESUBTYPE       0
{
   BLOCK "StringFileInfo"
   {
      BLOCK "040904E4"
      {
         VALUE "CompanyName",      ""
         VALUE "FileDescription",  ""
         VALUE "FileVersion",      "1.0.0.0\0"
         VALUE "InternalName",     "WinPrint"
         VALUE "LegalCopyright",   ""
         VALUE "OriginalFilename", "WinPrint.exe"
         VALUE "ProductName",      ""
         VALUE "ProductVersion",   "1.0.0.0\0"
      }
   }
   BLOCK "VarFileInfo"
   {
      // English language and the Windows ANSI codepage
      VALUE "Translation", 0x409, 1252
   }
}
_WFH_16X16ICO ICON "W:\\wf-PRG\\Level2\\VXH\\Common Resources\\wfH_16x16.ico"
_RIBBONJPG JPG "W:\\wf-PRG\\Level2\\VXH\\Common Resources\\Ribbon.jpg"
