
*.log

*.obj

*.map

xHarbour-XCC/xcc/bprint.exe

xHarbour-XCC/xcc/cc.exe

xHarbour-XCC/xcc/cc/arm.c

xHarbour-XCC/xcc/cc/msg.h

xHarbour-XCC/xcc/cc/msg.rc

xHarbour-XCC/xcc/cc/MSG00001.bin

xHarbour-XCC/xcc/cc/MSG00046.bin

xHarbour-XCC/xcc/cc/MSObj/pocc.res


xHarbour-xBuild/tproject-c.c

xHarbour-xBuild/tproject-c.ppo

xHarbour-xBuild/tproject.c

xHarbour-xBuild/tproject.ppo

*.pdb

xHarbour-xBuild/xbuild.c

xHarbour-xBuild/xbuild.exe

xHarbour-xBuild/xbuild.ppo

xHarbour-XCC/crt/src/crt.lib

xHarbour-XCC/crt/src/crtmt.lib

xHarbour-XCC/crt/src/log

xHarbour-XCC/xcc/lburg.exe

xHarbour-XCC/xcc/ccl/obj/cc.res

xHarbour-XCC/xcc/mscc.exe

xHarbour-XCC/xcc/pocc.exe

xHarbour-XCC/xcc/xcc.dll

xHarbour-XCC/xcc/xcc.exe

xHarbour-XCC/xcc/xcc.exp

xHarbour-XCC/xcc/xcc.lib

xHarbour-XCC/xlib/Log

xHarbour-XCC/xlib/mslib.exe

*.bin

xHarbour-XCC/xlib/xlib.exe

xHarbour-XCC/xlink/Log

xHarbour-XCC/xlink/MSObj/msg.rc

xHarbour-XCC/xlink/MSObj/xLink.res

xHarbour-XCC/xlink/msxLink.exe

xHarbour-XCC/xlink/xLink.exe

xHarbour-XCC/xcc/Log

xHarbour-XCC/xcc/none

xHarbour-XCC/xlib/MSObj/msg.rc

xHarbour-XCC/xlib/MSObj/polib.res

xHarbour-XCC/xlib/none

xHarbour-XCC/xlink/none

xHarbour-XCC/xrc/Log

xHarbour-XCC/xrc/MSObj/msg.rc

xHarbour-XCC/xrc/MSObj/rc.res

xHarbour-XCC/xrc/MSObj/resdll.res

xHarbour-XCC/xrc/msrc.dll

xHarbour-XCC/xrc/msrc.exe

xHarbour-XCC/xrc/msrc.exp

xHarbour-XCC/xrc/msrc.lib

xHarbour-XCC/xrc/xrc.dll

xHarbour-XCC/xrc/xrc.exe

*.EXP

xHarbour-XCC/xrc/xrc.LIB

xHarbour-xBuild/vc8/xbuild.xml

xHarbour-XCC/xcc/cc/x86.c

xHarbour-XCC/xcc/ccl/msg.h

xHarbour-XCC/xcc/ccl/msg.rc

xHarbour-XCC/xlib/msg.h

xHarbour-XCC/xlink/msg.h

xHarbour-XCC/xrc/msg.h
