#include "winver.h"
1 VERSIONINFO
FILEVERSION       5,3,0,0
PRODUCTVERSION    5,0,0,0
FILEFLAGS         0
FILEFLAGSMASK     VS_FFI_FILEFLAGSMASK
FILEOS            VOS__WINDOWS32
FILETYPE          VFT_APP
FILESUBTYPE       0
{
   BLOCK "StringFileInfo"
   {
      BLOCK "040904E4"
      {
         VALUE "CompanyName",      "xHarbour.com, Inc"
         VALUE "FileDescription",  "Visual xHarbour"
         VALUE "FileVersion",      "5.3"
         VALUE "InternalName",     "vxh"
         VALUE "LegalCopyright",   "2013 xHarbour.com, Inc"
         VALUE "OriginalFilename", "vxh.exe"
         VALUE "ProductName",      "Visual xHarbour"
         VALUE "ProductVersion",   "5.0"
      }
   }
   BLOCK "VarFileInfo"
   {
      VALUE "Translation", 0x409, 1252
   }
}

#include "vxhres.rc"

