/********************************************************
 *                                                      *
 * Win32 Library Manager; resource script.              *
 *                                                      *
 ********************************************************/

#define WIN32_LEAN_AND_MEAN
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     2,73,1,0
PRODUCTVERSION  2,73,0,0
FILEOS          VOS_DOS_WINDOWS32
FILETYPE        VFT_APP
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef PODEBUG
FILEFLAGS       VS_FF_DEBUG|VS_FF_PRERELEASE|VS_FF_PRIVATEBUILD
#else
FILEFLAGS       0  /* final version */
#endif

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041d04b0"  /* Sweden; Unicode */
        BEGIN
            VALUE "CompanyName",      "Pelle Orinius\0"
            VALUE "FileDescription",  "Pelles bibliotekshanterare\0"
            VALUE "FileVersion",      "2.73.1\0"
#ifdef XHARBOUR
            VALUE "InternalName",     "xLIB\0"
#else
            VALUE "InternalName",     "POLIB\0"
#endif /* XHARBOUR */
            VALUE "LegalCopyright",   "Copyright © Pelle Orinius 1997-2004\0"
#ifdef XHARBOUR
            VALUE "OriginalFilename", "XLIB.EXE\0"
#else
            VALUE "OriginalFilename", "POLIB.EXE\0"
#endif /* XHARBOUR */
            VALUE "ProductName",      "Pelles C för Windows\0"
            VALUE "ProductVersion",   "2.73\0"
        END
        BLOCK "040904b0"  /* USA; Unicode */
        BEGIN
            VALUE "CompanyName",      "Pelle Orinius\0"
            VALUE "FileDescription",  "Pelles Library Manager\0"
            VALUE "FileVersion",      "2.73.1\0"
#ifdef XHARBOUR
            VALUE "InternalName",     "xLIB\0"
#else
            VALUE "InternalName",     "POLIB\0"
#endif /* XHARBOUR */
            VALUE "LegalCopyright",   "Copyright © Pelle Orinius 1997-2004\0"
#ifdef XHARBOUR
            VALUE "OriginalFilename", "XLIB.EXE\0"
#else
            VALUE "OriginalFilename", "POLIB.EXE\0"
#endif /* XHARBOUR */
            VALUE "ProductName",      "Pelles C for Windows\0"
            VALUE "ProductVersion",   "2.73\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x41d, 0x4b0, 0x409, 0x4b0
    END
END

LANGUAGE LANG_SWEDISH, SUBLANG_SWEDISH
#ifdef __PORC__
1 MESSAGETABLE obj\MSG00046.bin
#else
1 MESSAGETABLE msobj\MSG00046.bin
#endif

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US
#ifdef __PORC__
1 MESSAGETABLE obj\MSG00001.bin
#else
1 MESSAGETABLE msobj\MSG00001.bin
#endif
